<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="second.css">

</head>
<body>
    <div class="header">
        <a href="profile.html" class="dropbtn">
            <img src="vodka.jpg" class="dropbtn">
        </a>   
        <div class="changelanguage">
            <p>Русский язык</p>
            <a href="" class="language"></a>
        </div>
            <input type="text" class="search" placeholder="search...">
        <a class="help">помощь</a>
        <img src="5922bf5fc6f18db0ad87feb76576b051.jpg" class="dropbtn1">
    </div>

    <div class="fastnavigation">
        <div class="stroke"></div>
        <div class="stroke"></div>
        <div class="stroke"></div>
        <div class="stroke"></div>
    </div>
</body>
</html>