<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/log_in.css" %}}">
    <link
    rel="stylesheet"
    href="node_modules/bootstrap/dist/css/bootstrap.css"
    />
</head>
<body>
    {% csrf_token %}
    <form method="post" action="/home">
        <div class="input-group flex-nowrap">
            <label for="login" class="form-label">
            <input type="text" class="form-control" id="login" name="login">
        </div>
        <div class="input-group flex-nowrap">
            <label for="pass" class="form-label">
            <input type="text" class="form-control" id="pass" name="pass">
        </div>
        <div class="buttons d-flex justify-content-center align-items-center m-2">
            {% comment %} <a href="firsrtt.html" class="btn btn-primary m-2">Вход</a> {% endcomment %}
            <button type="submit" class="btn btn-primary">Отправить</button>
            <a href="registration.html" class="btn btn-primary m-2">Регистрация</a>
        </div>
        <a href="reset.html" class="m-2">Забыли пароль</a>
    </form>
</body>
</html>

